.content {
    max-width: 880px;
    margin: 0;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

@media screen and (max-width: calc(768px + 20px)) {
    .content {
        max-width: 768px;
    }
}

@media screen and (max-width: calc(320px + 20px)) {
    .content {
        max-width: 320px;
    }
}